.tab{
    display: flex;
    justify-content: center;
    background-color:bisque;
    width: 500px;
    margin-top: 50px;
    margin-left:650px;
    height: 800px;
}
.tablet{
    margin-top: 50px;
}
.tablet img:hover{
    transform: scale(1.07);
    background-color: lightyellow;
}li:hover{
background-color: white;
}
.tab:hover{
    transform: scale(1.07);
}
button{
    background-color: beige;
}
.button {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
}
.tab {
  display: flex;
  justify-content: center;
  background-color: bisque;
  width: 500px;
  margin-top: 50px;
  margin-left: 650px;
  height: 800px;
  transition: transform 0.3s ease;
}

.tablet {
  margin-top: 50px;
}

.tablet img:hover {
  transform: scale(1.07);
  background-color: lightyellow;
}

li:hover {
  background-color: white;
}

.tab:hover {
  transform: scale(1.07);
}

button {
  background-color: beige;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
}


@media screen and (max-width: 768px) {
  .tab {
    width: 90%;          
    margin-left: auto;   
    margin-right: auto;
    height: auto;       
    padding: 20px;
    flex-direction: column; 
  }

  .button {
    flex-direction: column; 
    gap: 20px;              
    padding-top: 30px;
  }

  .tablet img {
    width: 100%;       
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .tab {
    padding: 10px;
    margin-top: 30px;
  }

  .button {
    gap: 15px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }

  .tablet h2, .tablet p, .tablet h3, .tablet ul li {
    font-size: 14px;  
}
}