body{
  margin:0;
  padding:0;
  background-color:#355C7D;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(3, 3, 50);
  height: auto;
  width: auto;
  align-items: center;
 padding: 20px 35px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
img{
  width: 50px;
  height: 50px;
}
nav a,h1{
  color: white;
  margin-right: 15px;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  background-color: white;
  color: black;
}
table {
  width: 800px; 
  height: 400px;
  margin:auto; 
  border-collapse: collapse; 
  /* border: solid; */
  background-color: white;
}
footer{text-align: center;
  /* margin-top: 150px; */
  background-color: rgb(3, 3, 50);
  color: white;
  padding: 4px;
  font-size: 15px;}

    main{
      height: 500px;
    }

h2{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;

}
p{
  text-align: center;
  font-size: 18px;
   padding-top: 10px;
}
th{
  font-size:30px;
  background-color:white;
  color: black;
}
tbody{
  font-size: 25px;
}
td{
  padding-left: 65px;
  /* border: solid; */
}
main{
  height: 700px;
}
 tr:hover{
  color: navy;
  transform: scale(1.05);
}
h3{
  font-size: 25px;
  text-align:center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}
@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 22px;
    margin: 5px 0;
  }

  h2 {
    font-size: 30px;
    padding: 10px;
  }

  h3 {
    font-size: 18px;
  }

  table {
    width: 100%;
    font-size: 18px;
  }

  th {
    font-size: 20px;
  }

  td {
    padding-left: 10px;
  }

  footer {
    font-size: 14px;
  }
}
