*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #355C7D;
  font-family: Arial, sans-serif;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 3, 50);
  padding: 25px 30px;
}

.heading{
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading img{
  width: 45px;
  height: 45px;
}

.heading h1{
  color: white;
  font-size: 24px;
  margin: 0;
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 10px;
  font-size: 15px;
}

nav a:hover{
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
}.profile-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content:left;
    display: block;
    align-items: center;  ;
      }
.profile-card{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color:white;
    width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    border:20px;
    border: solid;
    border-color: black;
    border-radius: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

 footer{
    text-align: center;
    margin-top: 150px;
    background-color: rgb(3, 3, 50);
    color: white;
    padding: 4px;
    font-size: 15px;}

    /* main{
      height: 800px;
} */
table{
 height: 300px;
}
th{
    background-color:gray;
    font-size: 20px;
}
.name{
    display: flex;
    gap: 20px;
}
h1{
    padding-left:20px;
    color:white;
}
tr:hover{
    background-color: lightgray;
}                                                                                                                                                                                                                                                                                                                                            
.profile-card h5{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.name h1{
  color: black;
}
ul{
  font-size: 15px;
}
ul :hover{
  background-color:lightgray;
}
td{
  padding-left: 50px;
}
  
@media (max-width: 600px) {
  body {
    background-color: #2C3E50;
  }
  
  header {
    flex-direction: column;
    padding: 10px;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
    margin: 5px 0;
    font-size: 16px;
  }

  .profile-card {
    width: 90%;
    padding:0px auto;
    margin-top: 50px auto;
  }

  .profile-card img {
    width: 120px;
    height: 120px;
  }

  .name {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .name h1 {
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
  }

  table {
    width: 100%;
    height: auto;
    font-size: 14px;
  }

  td {
    padding-left: 10px;
  }

  footer {
    margin-top: 50px;
    font-size: 14px;
    padding: 10px 5px;
  }
}

@media (max-width: 900px) {
  .profile-card {
    width: 70%;
  }

  .profile-card img {
    width: 130px;
    height: 130px;
  }

  nav a {
    font-size: 14px;
    margin-right: 10px;
  }
}

