*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #355C7D;
  font-family: Arial, sans-serif;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 3, 50);
  padding: 25px 30px;
}

.heading{
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading img{
  width: 45px;
  height: 45px;
}

.heading h1{
  color: white;
  font-size: 24px;
  margin: 0;
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 10px;
  font-size: 15px;
}

nav a:hover{
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
}
  .card{
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 15px;
  }
  .course{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }
  .card h3{
    text-align: center;
    font-size: 25px;
  }
  .card ul{
    font-size: 15px;
  }
  h2{
    background-color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    border-radius: 20px;
  }
  .card:hover {
  transform: translateX(10px) scale(1.05);
  }
  footer{
    text-align: center;
    margin-top: 150px;
    background-color: rgb(3, 3, 50);
    color: white;
    padding: 40px;
    font-size: 15px;
  }
 
  @media (max-width: 768px){

  header{
    flex-direction: column;
    text-align: center;
  }

  h1{
    font-size: 22px;
  }

  h2{
    font-size: 30px;
    margin: 20px;
  }

  .card h3{
    font-size: 20px;
  }

  .card ul{
    font-size: 14px;
  }

  footer{
    margin-top: 50px;
    padding: 20px;
    font-size: 14px;
  }
}

  

  